@import "compass/css3";

@import "icons/*.png";
@import "icons-2x/*.png";

// Includes
@import "includes/_settings";
@import "includes/_mixins";
@import 'includes/_header';
@import 'includes/_footer';
@import 'includes/_style';
@import 'includes/_responsive';

// Partials
@import 'partials/_flexslider';
@import 'partials/_icon-font';

// Views
@import 'views/_index';
@import 'views/_face';
@import 'views/_chat';