// styles for the video chat page
.chat {
	
	.phone-controls {

		$recordLight: #acacac;
		$recordDark: #0f0f0f;
		width: 60px;
		height: 60px;
		background-color: $controllsGrey;
		border: 2px solid $recordDark;
		@include border-radius(30px);
		@include block-left;
		position: relative;
		margin: 2px 0 0 10px;

		&:after {
			@include border-shape(50px, 50px);
			background-color: $recordLight;
			@include border-radius(25px);
			top: 3px;
			left: 3px;
		}


		&:before {
			font-size: 30px;
			z-index: 1;
			left: 13px;
			position: absolute;
			top: 11px;
		}

		&:hover,
		&.active {
			border: 2px solid $recordLight;
			&:after {
				background-color: $recordDark;
			}
		}

		&.icon-phone{
			&:before {
				color: darken(green, 10%);
			}
			&:hover,
			&.active {
				&:before {
					color: green;
				}
			}
		}
		&.icon-hangup {
			&:before {
				color: darken(red, 10%);
			}
			&:hover,
			&.active {
				&:before {
					color: red;
				}
			}
		}

	}

	video {
		
		&#localFeed {
			position: fixed;
			bottom: 20px;
			right: 1%;
			top: auto;
			z-index: 4;
			width: 30%;
			height: auto;
			max-width: 250px;
		}
	}
}