/* index page */

$controllsGrey: #2b2b2b;
.index {

	background-color: black;

	&:before {
		// cam icon
		color: $controllsGrey;
		font-size: 100px;
		left: 50%;
		margin-left: -45px;
		top: 50%;
		margin-top: -65px;
		position: absolute;
	}

	// filter controlls
	.controlls {
		bottom:0px;
		left:0px;
		z-index: 3;
		width: 100%;
		position:fixed;
		height: 65px;
		background-color: $controllsGrey;

		.flexslider {
			width: 30%;
			position:absolute;
			left: 0px;

			.flex-viewport {
				background-color: white;
				background: linear-gradient(to bottom, rgba(43,43,43,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(43,43,43,1) 100%);
				
				&:after {
					@include border-shape(0px, 0px);
					top: 0px;
					border-top: 32px solid transparent;
					border-bottom: 32px solid transparent;
					border-right: 6px solid $controllsGrey;
					border-left: 6px solid transparent;
					right: 0px;
				}
			}

			ul{
				list-style-type: none;
				@include reset-box;
				
				li {
					height: 65px;
					
					&.flex-active-slide {
						
					}

					a {
						display: block;
						width:100%;
						text-align: center;
						text-decoration: none;
						top: 24px;
						position: relative;
						font-size: 14px;
						line-height: 14px;
						@include sans-font;
						color: #4d4c4c;

						&:before,
						&:after {
							@include border-shape;
						}
					}


				}
			}
		} // end the filters gallery styles

		// record button

		#record {
			$recordLight: #acacac;
			$recordDark: #0f0f0f;

			width: 60px;
			height: 60px;
			background-color: $controllsGrey;
			border: 2px solid $recordDark;
			@include border-radius(30px);
			position: absolute;
			left: 50%;
			margin-left: -30px;
			top: 2px;

			&:after {
				@include border-shape(50px, 50px);
				background-color: $recordLight;
				@include border-radius(25px);
				top: 3px;
				left: 3px;
			}

			&:before {
				// icon font
				font-size: 30px;
				z-index: 1;
				color: $recordDark;
				left: 13px;
				position: absolute;
				top: 11px;
			}

			&:hover,
			&.active {
				border: 2px solid $recordLight;

				&:before {
					color: $recordLight;
				}

				&:after {
					background-color: $recordDark;
				}
			}

		}

	}

	// video tags
	video {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;

		&.grayscale {
			@include filter(grayscale(100%));
		}

		&.sepia {
			@include filter(sepia(100%));
		}
		&.saturate {
			@include filter(saturate(100%));
		}
		&.invert {
			@include filter(invert(100%));
		}
		&.blur {
			@include filter(blur(5px));
		}

		&#bgFeed {
			position: fixed;
			right: 0px;
			bottom: 0px;
			z-index: 1;
			width: auto;
			height: auto;
			min-height: 100%;
			min-width: 100%;
		}
	}

}