/* index page */
.index {

	h1 {
		width: 100%;
		text-align: center;
	}

	// filter controlls
	.controlls {
		list-style-type: none;
		@include reset-box;
		width: 100%;
		float: left;
		margin-top: 20px;

		li {
			float: left;
			padding:0;
			margin: 0 10px 0 0;
		}
	}

	// video tags
	video {
		float: left;
		display: block;
		width: 50%;

		&.grayscale {
			@include filter(grayscale(100%));
		}
		&.sepia {
			@include filter(sepia(100%));
		}
		&.saturate {
			@include filter(saturate(100%));
		}
		&.invert {
			@include filter(invert(100%));
		}
		&.blur {
			@include filter(blur(5px));
		}
	}

}